.menu{
	list-style: none; 
	display: flex; 
	
	width: 100%;
	justify-content: space-around; 
	opacity: 0;
	transition: opacity 0.4s ease-in; 
	
	padding: 1em 0 0;
	margin: 0;
	
	&.open{
		opacity: 1;
	}  
	
	a{
		color: #FFF; 
	}
}