.modal{
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content{
	background: url('../img/untitled-folder.png') bottom center no-repeat mistyrose;
	background-size: cover; 
	border: 1px solid #ccc; 
	border-radius: 0.4em;
	
	margin: 15% auto;
	padding: 1.5em;
	width: 80%;  
	max-width: 972px; 
	height: 33.3em;
	 
	display: flex;
	justify-content: center;
	align-items: center; 
	
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 1s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}