// Media Query Variables
$small-screen: 1024px;
$mobile-screen: 767px;

// Grid Variables
$column-count: 12;
$gutter: 1em;

// Typography Variables
$text-color: #333;
$link-color: #0f82bd;
$hr-color: #ccc;
$muted-text-color: lighten($text-color, 30%);

$baseline: 1.5em;

$body-font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;

$h1-size: 2.074em;
$h2-size: 1.728em;
$h3-size: 1.44em;
$h4-size: 1.2em;
$h5-size: 1em;
$h6-size: 0.833em;

// Button Variables
$btn-roundness: 3px;
$btn-small-font-size: 0.75em;
$btn-large-font-size: 2em;
$btn-default-bg: #dde2e4;
$btn-default-text-color: #333;
$btn-primary-bg: #0f82bd;
$btn-primary-text-color: lighten(#0f82bd, 50%);

// Form Variables
$field-border-color: #ccc;
$field-error-color: red;
$field-required-color: red;

// Icon Variables
$icon-roundness: 3px;
$icon-border-color: #333;

// Feedback Variables
$information-color: #439ccf;
$error-color: #e72915;
$warning-color: #d35400;
$success-color: #74a730;