@import 'vendor/normalize';
@import 'vendor/font-awesome/font-awesome';

@import 'config';

@import 'base/buttons';
@import 'base/feedback';
@import 'base/forms';
@import 'base/grid';
@import 'base/icons';
@import 'base/typography';

@import 'modules/modal';
@import 'modules/menu';

#app {
	background: url('../img/background.gif') center no-repeat #fff;
	background-size: cover;
	height: 100vh; 
	#navbar{
		display: flex;
		justify-content: center; 
		button{
			background-color: inherit;
			&:hover{
				background-color: inherit; 
			} 
		}

		.menu > a{
			color: #FFF; 
		}
	}

	#container{
		padding: 1em; 
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 81vh; 
		
		#welcome-button{
			border-radius: 50%;
			height: 144px;
			width: 144px; 
		}

		#info-modal{
			flex-direction: column;
			color: #FFF; 
		}
	}	
}
