@import '../config';

button, .btn{
	border: 0;
	border-radius: $btn-roundness;
	color: $btn-default-text-color;
	
	cursor: pointer; 
	line-height: 1;
	font-size: inherit;
	text-decoration: none;
 
	display: inline-block;
	padding: 0.75em  1.5em;
	
	&:hover {
		background-color: $text-color;
		color: #FFF;  	
	}

	&:active {
		background-color: lighten($text-color, 10%);
	}

	&:focus {
		outline: none;
	}
}

a.btn {
	@extend .btn;
	
	&:hover {
		background-color: initial;
		text-decoration: underline; 
	}	
}

.btn-primary {
	@extend .btn;
	
	background-color: $btn-primary-bg;
	color: $btn-primary-text-color; 
	
	&:hover{
		background-color: $btn-primary-text-color;
		color: $btn-primary-bg; 
	}
}

.btn-small {
	@extend .btn;
	font-size: $btn-small-font-size;
}

.btn-large {
	@extend .btn;
	font-size: $btn-large-font-size;
	font-weight: bold;	
}