@import '../config';

[class^="alert-"]{
	border: 1px solid;
	border-bottom-width: 3px;
	
	margin: $baseline 0;
	padding: 1.5em;
	
	p {
		margin-bottom: 0; 
	} 
}

.alert-information {
	border-color: lighten($information-color, 30%);
	background-color: lighten($information-color, 45%);
	
	& :first-child {
		color: $information-color;
	}
}

.alert-error {
	border-color: lighten($error-color, 30%);
	background-color: lighten($error-color, 45%);
	
	& :first-child {
		color: $error-color;
	}
}

.alert-warning {
	border-color: lighten($warning-color, 30%);
	background-color: lighten($warning-color, 45%);
	
	& :first-child {
		color: $warning-color;
	}
}

.alert-success {
	border-color: lighten($success-color, 30%);
	background-color: lighten($success-color, 45%);
	
	& :first-child {
		color: $success-color;
	}
}