@import '../config';

form{
	.field-group{
		margin-bottom: 1em;
		
		label{
			display: block;
			margin-bottom: 0.5em;
			font-weight: bold;  
		}

		input:not([class^="btn"]), textarea{
			border: 1px solid $field-border-color;
			padding: 0.75em;
			
			&:focus, &:hover{
				border-color: darken($field-border-color, 15%);
				outline: none;
			}

			&.field-fw{
				width: 100%; 
			}
		}

		.help{
			@extend small;
			margin: 0.5em 0 0;
			color: $muted-text-color;
			font-style: italic; 
		}

		&.field-error{
			label, .help {
				color: $field-error-color;
			}

			input {
				border-color: lighten($field-error-color, 30%);
				background-color: lighten($field-error-color, 45%); 
			}
		}
	}

	.required{
		color: $field-required-color;
	}

	fieldset {
		border-color: $field-border-color;
		padding: 1.5em;
		margin-bottom: $baseline;
		
		legend {
			font-weight: bold;
			padding: 0 0.5em;
		}   
	}

	input[type="checkbox"], input[type="radio"] {
		display: none; 
	}

	input[type="checkbox"] + label:before {
		background-color: #FFF;
		border: 1px solid $field-border-color;
		
		content: "";
		display: inline-block;
		height: 1.25em;
		width: 1.25em;  
		line-height: 1.25em;
		
		font-size: 0.75em; 
		vertical-align: middle;
		text-align: center;
		margin: -2px 6px 0 0;   
	}

	input[type="checkbox"]:checked + label:before {
		content: "\2713";
		// background-color: green; 
	}

	input[type="radio"] + label:before {
		background-color: #FFF;
		
		border: 1px solid $field-border-color;
		border-radius: 1.25em;
		
		content: "";
		display: inline-block;
		height: 0.6em;
		margin: -2px 6px 0 0; 
		width: 0.6em;
		vertical-align: middle;   
		
		font-size: 1.65em;
		line-height: 0.7em;
		text-align: center;
	}

	input[type="radio"]:checked + label:before{
		content: "\2022";
	}
}

.flex-form{
	.field-group {
		padding: 0 1.5em;
		margin: 0; 	
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw; 
	}
	img {
		vertical-align: middle; 
	}
	
	input:not([class^="btn"]) {
		color: $text-color;
		flex: 3;
		background: url('../img/ask-with-watson.png') no-repeat scroll 7px 7px #fff;
		background-size: 6em 2em;
		padding-left: 7em !important; 
	}
}